<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spellcheck App</title>
    <link rel"stylesheet" href="../public/css/styles.css"/>
</head>
<body>
    <div class="container w-screen">
        <h1 id="title">Spellcheck App</h1>
        <form id="" method="post" action="/post">
            <textarea name="textArea" placeholder="Type your text here..."></textarea>
            <button type="submit">Check Spelling</button>
        </form>
        <div id="">{{correction}}</div>
    </div>
</body>
</html>